@import 'styles/variables';

.wrapper {
  display: flex;
  margin: 24px 0;
}

.button {
  background: transparent;
  color: $color-dark;
  padding: 10px 20px;
  cursor: pointer;
  user-select: none;
  margin: 0 20px;

  &:hover {
    font-weight: 700;
  }

  &.active {
    background: $color-dark;
    color: $color-light;
  }
}
