@import 'styles/variables';
@import 'styles/placeholders';
@import 'styles/mixins';

.wines {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 60px 0;
  background: linear-gradient(
      180deg,
      rgba(222, 171, 191, 0.1) 0%,
      rgba(237, 220, 218, 0) 10%
    ),
    url('/images/mancha2.png');
  background-repeat: no-repeat;
  background-position: right top;

  &__title {
    text-align: center;
  }
}

.container {
  @extend %container;
}

.row {
  @extend %row;
  display: flex;
}

.column {
  @extend %column;
  flex: 1;
}

.list {
  margin-top: 40px;
}
