@import 'styles/variables';

.wrapper {
  color: $color-primary;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 12px;
  padding: 40px 0;

  &:hover {
    .icon {
      transform: translateX(10px);
    }
  }
}

.icon {
  transition: transform $duration $timing-function;

  path {
    fill: $color-primary;
  }
}

.text {
  margin-left: 20px;
}
