@import 'styles/variables';
@import 'styles/mixins';

.wrapper {
  font-size: 14px;
  font-family: $font-primary;
  color: $color-primary-light;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: bold;
}
