@import 'styles/variables';
@import 'styles/placeholders';
@import 'styles/mixins';

.wrapper {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.label {
  padding: 10px 0;
  color: $color-light;
  text-align: left;
}

.field {
  border: 0;
  padding: 15px 20px;
  font-size: 16px;
  font-family: inherit;
  font-weight: 100;
  border-radius: 10px;
  min-height: 170px;
  background: rgba($color-light, 0.9);

  &::placeholder {
    font-size: 16px;
  }
}
