@import 'styles/variables';

.table {
  margin: 60px 0;

  td {
    border: 1px solid $color-grey;
    padding: 10px;
    vertical-align: middle;
  }
}

.cell {
  display: flex;
  align-items: center;
  text-transform: capitalize;
}

.icon {
  width: 20px;
  height: 20px;

  svg {
    width: inherit;
    height: inherit;
  }
}

.label {
  padding-left: 20px;
}
