@import 'styles/variables';
@import 'styles/placeholders';
@import 'styles/mixins';

.button {
  border: 0;
  padding: 10px 20px;
  min-height: 52px;
  border-radius: 10px;
  text-align: center;
  cursor: pointer;
  align-self: center;
  width: 200px;
  max-width: 100%;
  margin: 10px 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background: $color-primary;
  color: $color-light;

  &.primary {
    background: $color-primary;
    color: $color-light;
  }

  &.secondary {
    background: $color-dark;
    color: $color-light;
  }

  &.tertiary {
    background: $color-primary;
    border: 0;
    color: $color-light;
  }

  &.quarternary {
    background: transparent;
    border-color: $color-light;
    color: $color-light;
  }
}
