@import 'styles/variables';
@import 'styles/placeholders';
@import 'styles/mixins';

.menu {
  display: flex;
  padding-left: 20px;

  @include below($breakpoint-medium) {
    display: none;
  }
}

.list {
  display: flex;
  flex: 1;
}

.item {
  padding: 15px 10px;
  letter-spacing: 2px;
  transition-duration: $duration;
  white-space: nowrap;
  position: relative;
  text-transform: uppercase;
  font-size: 14px;

  @include below($breakpoint-large) {
    padding: 10px 0;
  }

  a {
    padding: 10px 20px;
    width: 100%;
  }

  &::before,
  &::after {
    content: '';
    height: 8px;
    width: 8px;
    border: 1px solid currentColor;
    transform: translateX(-50%) translateY(0px) rotate(45deg);
    display: block;
    position: absolute;
    left: 50%;
    top: 4px;
    opacity: 0;
    transition: transform 0.4s, opacity 0.4s;
  }

  &::before {
    border-top-color: transparent;
    border-left-color: transparent;
    border-radius: 13px;
  }

  &::after {
    height: 4px;
    width: 4px;
  }

  &:hover,
  &.active {
    &::before,
    &::after {
      opacity: 1;
      transform: translateX(-50%) translateY(-10px) rotate(45deg);
    }
  }
}

.submenu {
  position: absolute;
  background: $color-light;
  top: 70px;
  padding: 30px 20px;
  left: 0;
  width: 100%;
  transform: translateY(0) rotateX(90deg);
  transform-origin: top;
  visibility: hidden;
  opacity: 0;
  filter: drop-shadow(0px 6px 3px $color-shadow);
  transition: transform 0.4s $timing-function, visibility 0.4s linear,
    opacity 0.2s linear;

  &.opened {
    transform: rotateX(0);
    visibility: visible;
    opacity: 1;
  }

  &::after {
    left: 50vw;
  }

  .item {
    text-align: left;
    font-weight: 300;

    &:hover {
      font-weight: 700;
    }
  }

  .list {
    flex-direction: column;
  }
}
