@import 'styles/variables';

.wrapper {
  background: $color-light;
  padding: 10px;
  text-align: center;
  cursor: pointer;
  background: $color-light;

  @media (prefers-color-scheme: light) {
    background: $color-light;
  }

  @media (prefers-color-scheme: dark) {
    background: $color-light;
  }

  &:hover {
    .border {
      border-color: lighten($color-primary, 30%);
    }
  }
}

.border {
  border: 2px solid $color-grey;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  transition: border-color $duration $timing-function;
}

.flag {
  position: absolute;
  left: 10px;
  top: 10px;
  z-index: 10;
}

.image {
  padding: 20px 0;
}

.name {
  font-size: 18px;
  font-weight: 700;
  font-family: $font-secondary;
  color: $color-dark;
  line-height: 1;
  padding-bottom: 5px;
}

.project {
  font-size: 14px;
  color: $color-text;
}
