@import 'styles/variables';
@import 'styles/placeholders';
@import 'styles/mixins';

.container {
  @extend %container;
  padding: 60px 0;
}

.row {
  @extend %row;
  display: flex;

  &.inverse {
    @include above($breakpoint-small) {
      flex-direction: row-reverse;
    }
  }

  @include below($breakpoint-small) {
    flex-direction: column-reverse;
  }
}

.column {
  @extend %column;
  flex: 1;
  align-items: center;
  display: flex;
  color: $color-text;
  padding-top: 20px;
  padding-bottom: 20px;
}
