@import 'styles/variables';
@import 'styles/placeholders';

.banner {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url('/images/projects.jpg');
  min-height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  text-align: center;
  box-shadow: inset 0 600px 380px 0 rgba(0, 0, 0, 0.31%);
  // box-shadow: inset 0 600px 380px 0 rgba(darken($color-dark, 15%), 0.9);
  padding-bottom: 100px;
  text-shadow: 2px 1px 1px rgba(0, 0, 0, 0.2);

  &::before {
    content: '';
    @extend %fit-to-parent;
    backdrop-filter: blur(4px);
  }

  &::after {
    content: '';
    position: absolute;
    bottom: -4px;
    height: 100px;
    width: 100%;
    background-image: url('/images/paper.png');
    background-position: bottom center;
    background-size: 100%;
    background-repeat: no-repeat;
  }
}

.content {
  position: relative;
  z-index: 1;
  padding-top: $header-height;
}
