@import './variables';
@import './mixins';

%container {
  width: $container-width;
  max-width: $container-max-width;
  margin: 0 auto;
}

%fit-to-parent {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

%fit-to-viewport {
  position: fixed;
  top: -$browser-bar;
  left: 0;
  width: 100%;
  height: calc(100vh + #{$browser-bar});
  padding-top: $browser-bar;
}

%row {
  margin-left: -#{$gutter};
  margin-right: -#{$gutter};
}

%column {
  padding: 0 #{$gutter};
}

%viewport-section {
  min-height: calc(100vh - #{$header-height});
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 60px;
  padding-top: 60px;
}
