@import './variables';
@import './mixins';
@import './variables';
@import 'swiper/swiper.scss';
@import 'swiper/components/navigation/navigation.scss';
@import 'swiper/components/pagination/pagination.scss';

:root {
  --swiper-theme-color: $color-dark;
  --swiper-navigation-size: 83px;
}

.swiper-button-next {
  right: 0;
  background: url('/images/arrow-right.svg');
  height: 83px;
  width: 83px;
  color: transparent;
}

.swiper-button-prev {
  background: url('/images/arrow-left.svg');
  height: 83px;
  width: 83px;
  left: 0;
  color: transparent;
}

@include below($breakpoint-xsmall) {
  .swiper-button-next {
    display: none;
  }
  .swiper-button-prev {
    display: none;
  }
}

.swiper-pagination {
  .swiper-pagination-bullet {
    height: 14px;
    width: 14px;
    border: 2px solid $color-dark;
    opacity: 1;
    background: transparent;

    &.swiper-pagination-bullet-active {
      background: $color-dark;
    }
  }
}
#testimonials-slider {
  @include below($breakpoint-xsmall) {
    .swiper-button-next {
      display: block;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      // background-size: cover;
      right: -10px;
      background-position: center center;
      overflow: hidden;
    }
    .swiper-button-prev {
      display: block;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      // background-size: cover;
      left: -10px;
      background-position: center center;
      overflow: hidden;
    }
  }
}
