$color-dark: #434b4c;
$color-primary: #73455d;
$color-secondary: #035843;
$color-primary-light: #af9aa3;
$color-text: #787878;
$color-light: #ffffff;
$color-grey: #f2f4f3;
$color-grey-dark: #707070;
$color-gray-placeholder: #cccccc;
$color-overlay: rgba(0, 0, 0, 0.73);
$color-shadow: rgba(0, 0, 0, 0.06);
$color-white-wine: #f9f5ec;
$transparent: rgba($color-light, 0.00009);

$font-primary: 'Merriweather', serif;
$font-secondary: 'Playfair Display', serif;

$browser-bar: 80px;
$gutter: 20px;

$timing-function: cubic-bezier(0.4, 0, 0.2, 1);
$duration: 0.4s;

$breakpoint-xsmall: 576px;
$breakpoint-small: 768px;
$breakpoint-medium: 992px;
$breakpoint-large: 1200px;
$breakpoint-xlarge: 1400px;

$header-height: 100px;
$header-height-mobile: 80px;
$container-width: 90%;
$container-max-width: 1220px;
$container-medium-width: 1024px;
