@import './reset.css';
@import './variables';
@import './swiper.scss';

html,
body {
  padding: 0;
  margin: 0;
  font-family: $font-primary;
  font-weight: 300;
  line-height: 1.7;
  display: flex;
  flex-direction: column;
  scroll-behavior: smooth;
  background: $color-light;

  @media (prefers-color-scheme: light) {
    background: $color-light;
  }

  @media (prefers-color-scheme: dark) {
    background: $color-light;
  }
}

html {
  height: 100%;
}

body {
  min-height: 100%;
}

strong {
  font-weight: bold;
}

#__next {
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 100%;
}

main {
  flex: 1;
}

button {
  font: inherit;
  appearance: none;
  border-radius: 0;
  box-shadow: 0;
  border: 0;
  padding: 0;
  background: rgba($color-light, 0);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  outline: none;
}

.swiper-slide {
  display: flex;
  justify-content: center;
}
