@import 'styles/variables';
@import 'styles/mixins';

.wrapper {
  font-size: 32px;
  font-family: $font-secondary;
  margin: 10px 0 40px;
  color: $color-text;
  line-height: 1.2;
  display: flex;
  flex-direction: column;

  @include above($breakpoint-medium) {
    font-size: 56px;
  }
}

.wine {
  color: $color-primary;
}

.light {
  color: $color-light;
}

.icon {
  margin-top: 10px;
  align-self: center;
}
