@import 'styles/variables';
@import 'styles/placeholders';
@import 'styles/mixins';

.wrapper {
  min-width: 180px;
  display: inline-flex;
  width: 180px;
  max-width: 100%;
  transform: translateY(-7px);

  path {
    transition: all $duration $timing-function;
  }
}

.light {
  path {
    fill: $color-light;
  }
}

.dark {
  path {
    fill: $color-dark;
  }
}
