@import 'styles/variables';

.wrapper {
  flex: 1;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 20px;
}

.item {
  padding: 10px;
  width: 40px;
}

.link {
  width: 27px;
}
