@import 'styles/variables';
@import 'styles/placeholders';
@import 'styles/mixins';

.container {
  @extend %container;
}

.section {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.about {
  @extend %viewport-section;
  background-image: url('/images/mancha.png');
  background-repeat: no-repeat;
  background-position: 100px -100px;

  @include above($breakpoint-medium) {
    background-position: right top;
  }
}

.origin {
  @extend %viewport-section;
  background-image: url('/images/mancha2.png');
  background-repeat: no-repeat;
  background-position: center top;
}

.highlights {
  @extend %viewport-section;
  background-image: url('/images/highlights.png');
  background-repeat: no-repeat;
  background-position: left 650px;
  background-color: $color-primary;

  &__title {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  &__container {
    @extend %container;
    @include below($breakpoint-medium) {
      max-width: 100%;
      width: 100%;
    }
  }
}

.projects {
  @extend %viewport-section;
  position: relative;

  &__title {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  &__container {
    @extend %container;
    @include below($breakpoint-medium) {
      max-width: 100%;
      width: 100%;
    }
  }

  &::before {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    margin-top: -100px;
    left: 0;
    transform: translateX(-50%);
    background: $color-white-wine;
    z-index: -1;
    box-shadow: 0 0 0 200px $color-white-wine;

    @include above($breakpoint-small) {
      content: '';
    }
  }
}
