@import 'styles/variables';
@import 'styles/placeholders';

.wrapper {
  padding: 20px;
  background: $color-light;
  color: $color-text;
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.05);
}

.button {
  width: 100%;
}

.image {
  position: relative;

  & > div {
    &::before {
      content: '';
      @extend %fit-to-parent;
      background: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0) 0%,
        rgba(46, 32, 39, 0.67) 100%
      );
      opacity: 0.6;

      z-index: 1;
    }
  }
}

.title {
  position: absolute;
  bottom: -15px;
  left: 20px;
  z-index: 2;
}

.text {
  display: -webkit-box;
  -webkit-line-clamp: 7;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
