@import 'styles/variables';
@import 'styles/placeholders';
@import 'styles/mixins';

.wrapper {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url('/images/contact.jpg');
  min-height: 800px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  text-align: center;
  box-shadow: inset 0 160px 380px 0 rgba(darken($color-dark, 15%), 0.9);
  padding-bottom: 100px;
  padding-top: 60px;

  &::before {
    content: '';
    position: absolute;
    top: -4px;
    height: 52px;
    width: 100%;
    background-image: url('/images/paper-top.png');
    background-position: top center;
    background-size: 100%;
    background-repeat: no-repeat;
  }

  &::after {
    content: '';
    position: absolute;
    bottom: -4px;
    height: 100px;
    width: 100%;
    background-image: url('/images/paper.png');
    background-position: bottom center;
    background-size: 100%;
    background-repeat: no-repeat;
  }
}

.whatsapp {
  max-width: 30px;
  margin-right: 20px;
}

.send {
  width: 100%;
}

.container {
  @extend %container;
  max-width: 680px;
}
