@import 'styles/variables';
@import 'styles/placeholders';
@import 'styles/mixins';

.header {
  width: 100%;
  padding: 24px 0;
  position: fixed;
  height: $header-height;
  left: 0;
  top: 0;
  z-index: 100;
  transition: background $duration $timing-function,
    height $duration $timing-function;
  color: $color-light;
  display: flex;
  align-items: center;

  @include below($breakpoint-medium) {
    height: $header-height-mobile;
    padding: 4px 0;
  }

  &.transparent {
    background: transparent;
    color: $color-light;
  }

  &.white {
    background: $color-light;
    color: $color-text;
    box-shadow: 0 2px 70px rgba($color-dark, 0.09%);
    height: $header-height - 20px;
  }
}

.container {
  @extend %container;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hamburger {
  width: 38px;
  display: flex;

  @include above($breakpoint-medium) {
    padding: 10px 0;
    display: none;
  }
}

.dark {
  path {
    fill: $color-dark;
  }
}

.light {
  path {
    fill: $color-light;
  }
}

.instagram {
  width: 30px;
  height: 30px;
  display: none;

  @include below($breakpoint-medium) {
    display: block;
  }
}
