@import 'styles/variables';
@import 'styles/placeholders';
@import 'styles/mixins';

.wrapper {
  width: 100%;
  margin-bottom: 60px;
}

.row {
  @include above($breakpoint-small) {
    display: flex;
    flex-wrap: wrap;
    margin-left: -10px;
    margin-right: -10px;
  }
}

.item {
  min-height: 200px;

  & > div {
    border: 1px solid $color-grey;
  }

  @include below($breakpoint-small) {
    margin: 10px 0;
  }

  @include above($breakpoint-small) {
    padding: 10px;
    width: 33.333%;
  }
}
