@import 'styles/variables';
@import 'styles/placeholders';
@import 'styles/mixins';

.wrapper {
  position: fixed;
  top: 0;
  left: 0;
  background: rgba($color-primary, 0.8);
  height: 100%;
  width: 100%;
  z-index: 999;
  backdrop-filter: saturate(180%) blur(5px);

  &::before {
    $loader-size: 60px;
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    height: $loader-size;
    width: $loader-size;
    margin-top: -#{$loader-size};
    margin-left: -#{$loader-size};
    border: 6px solid $color-light;
    border-bottom-color: transparent;
    border-radius: $loader-size/2;
    animation: loading 0.5s linear infinite;
    box-sizing: border-box;
  }
}

@keyframes loading {
  to {
    transform: rotate(360deg);
  }
}
