@import 'styles/variables';
@import 'styles/placeholders';
@import 'styles/mixins';

.wrapper {
  width: 100%;
  max-width: $container-max-width;
  position: relative;

  &::before {
    content: '';
    padding-top: 56.25%;
    display: block;
  }
}

.inside {
  @extend %fit-to-parent;
  overflow: hidden;
  background: $color-grey;
}

.iframe {
  $security-bar: 500px;
  position: relative;
  width: calc(100%);
  height: calc(100% + #{$security-bar});
  top: -#{$security-bar/ 2};
  left: 0;
  @extend %fit-to-parent;
}

.play {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  cursor: pointer;
  width: 80px;

  @include above($breakpoint-medium) {
    width: 110px;
  }

  svg {
    max-width: 100%;
  }
}
