@import 'styles/variables';
@import 'styles/placeholders';
@import 'styles/mixins';

.wrapper {
  background: transparent;
  position: relative;
  color: $color-primary;

  @include above($breakpoint-medium) {
    margin-top: 70px;
  }
}

.container {
  @extend %container;
}

.row {
  @extend %row;
  margin-bottom: 40px;

  @include above($breakpoint-medium) {
    display: flex;
  }
}

.column {
  @extend %column;
  min-height: 100px;
  margin: 10px 0;

  &:first-child {
    @include above($breakpoint-medium) {
      width: 60%;
    }
  }
}

.image {
  background: url('/images/marvin.png');
  position: absolute;
  height: 86px;
  width: 70%;
  left: 0;
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;

  @include above($breakpoint-medium) {
    height: 120px;
    width: 40%;
    right: 0;
    left: unset;
    background-position: top left;
  }
}
