@import 'styles/variables';
@import 'styles/placeholders';
@import 'styles/mixins';

.wrapper {
  background: $color-light;
  position: relative;
}

.container {
  @extend %container;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu {
  @include above($breakpoint-small) {
    display: flex;
  }
}

.link {
  padding: 20px;
  text-transform: uppercase;
  font-size: 14px;
  color: $color-primary;
  text-align: center;
  letter-spacing: 2px;
}

.social {
  path {
    fill: $color-primary;
  }
}

.rights {
  font-size: 10px;
  color: $color-text;
  justify-content: space-between;
  width: 100%;
  border-top: 1px solid $color-grey;
  padding: 20px 0 0;

  @include above($breakpoint-small) {
    display: flex;
  }

  div {
    max-width: 650px;
    text-align: center;
    margin-bottom: 20px;
  }
}

.title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
}

.logo {
  width: 300px;
  align-self: center;
}

.grid {
  display: grid;
  grid-gap: 40px;

  grid-template-columns: 45fr;
  grid-template-rows: auto auto;

  @include below($breakpoint-medium) {
    text-align: center;
  }

  @include above($breakpoint-medium) {
    grid-template-columns: 35fr 50fr 25fr;
    grid-template-rows: auto auto;
  }
}

.item {
  opacity: 1;
  max-width: 100%;
  position: relative;
  overflow: hidden;

  @include above($breakpoint-medium) {
    padding-bottom: 30px;
  }

  &:last-child {
    display: flex;
    align-items: center;
  }
}

.paragraph {
  padding: 5px;
  padding-bottom: 60px;
}

.address {
  grid-gap: 20px;
  display: flex;
}

.jobs {
  display: flex;
  grid-gap: 20px;

  button {
    flex: 1;
  }
}

.brand {
  min-width: 200px;
  max-width: 300px;
  margin: 0 auto;
}

.partner {
  margin: 10px 0;
}

@include below($breakpoint-medium) {
  .address {
    grid-gap: 20px;
    display: flex;
    font-size: 14px;
  }

  .brand {
    grid-row-start: 1;
  }

  .parners {
    text-align: center;
  }

  .social {
    grid-row-start: 4;
    display: unset;
  }

  .jobs {
    grid-row-start: 2;
    flex-direction: column;
  }
}

.text {
  display: none;
  @include above($breakpoint-medium) {
    display: block;
  }
}

.contact {
  display: inline-flex;

  @include above($breakpoint-medium) {
    display: none;
  }
}

.carousel {
  width: 100%;
  background-color: red;
  overflow: hidden;
}
