@import 'styles/variables';
@import 'styles/placeholders';

$menu-top: 20px;
$menu-right: 40px;
$menu-bottom: 50px;
$menu-left: 40px;

.wrapper {
  @extend %fit-to-viewport;
  transform: translateX(-100%);
  transition: $duration $timing-function;
  width: calc(100% - #{$menu-right});
  max-width: 360px;
  z-index: 999;
  color: $color-light;

  &.opened {
    transform: translateX(0);
  }
}

.content {
  @extend %fit-to-parent;
  background: $color-light;
  padding: $menu-top 0 $menu-bottom;
  display: flex;
  flex-direction: column;
  margin-right: $menu-left;
  overflow-y: auto;
  background: $color-primary;
}

.overlay {
  @extend %fit-to-viewport;
  background-color: $color-overlay;
  transition: $duration linear;
  visibility: hidden;
  opacity: 0;
  transition: opacity $duration linear, visibility $duration linear;
  z-index: 998;

  &.opened {
    visibility: visible;
    opacity: 1;
  }
}

.inner {
  position: relative;
  margin-top: $browser-bar;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.close {
  position: absolute;
  right: $menu-right;
  top: $menu-top;
  width: 24px;
}

.logo {
  margin-left: $menu-left;
  margin-top: $menu-top;
  margin-bottom: $menu-bottom;
}

%active {
  background: $color-primary;
  color: $color-light;
  font-weight: 700;
}

.item {
  display: flex;
  flex-direction: column;

  a,
  button {
    text-align: left;
    padding: 20px 40px;
    width: 100%;
  }

  &.active {
    font-weight: bold;
  }
}

.button {
  display: flex;
  justify-content: space-between;

  &.opened {
    @extend %active;

    .arrow {
      stroke: $color-light;
      transform: rotate(-180deg);
    }
  }
}

.submenu {
  background: $color-grey;
  max-height: 0;
  opacity: 0;
  opacity: 0;
  overflow: hidden;
  transition: $duration $timing-function;

  &.opened {
    max-height: 200px;
    opacity: 1;
  }
}

.arrow {
  width: 22px;
  stroke: $color-dark;
  transition: transform $duration $timing-function;

  path {
    stroke: inherit;
  }
}

.social {
  margin-bottom: 60px;
}
