@import 'styles/variables';
@import 'styles/placeholders';
@import 'styles/mixins';

.wrapper {
  padding: 20px 0;
  margin-top: 20px;
}

.item {
  display: block;
  width: 100%;
  padding: 10px;
}

.title {
  width: 100%;
  text-align: center;
  padding: 20px 0;
  font-size: 20px;
}

.content {
  padding: 0;
  position: relative;
}

.link {
  cursor: pointer;
}

.container {
  @extend %container;
  max-width: $container-medium-width;
  position: relative;

  @include below($breakpoint-medium) {
    max-width: 100%;
    width: 100%;
  }
}
