@import 'styles/variables';
@import 'styles/placeholders';
@import 'styles/mixins';

.wrapper {
  max-width: 900px;
  margin: 0 ​0 60px;
  text-align: center;
  align-self: center;
}

.text {
  font-size: 16px;
  font-weight: 300;
  max-width: 1000px;
  margin-bottom: 20px;
  margin-top: 20px;
  position: relative;
  color: $color-primary;
  padding: 0 40px;
}

.author {
  font-size: 16px;
  margin-bottom: 20px;
  color: $color-text;
}

.firstQuote {
  transform: rotate(180deg);
  margin: 20px;

  @include above($breakpoint-medium) {
    position: absolute;
    top: 50%;
    width: 40px;
    left: -80px;
    transform: translateY(-50%) rotate(180deg);
  }
}

.lastQuote {
  margin: 20px;
  @include above($breakpoint-medium) {
    position: absolute;
    width: 40px;
    top: 50%;
    right: -80px;
    transform: translateY(-50%);
  }
}
