@import 'styles/variables';
@import 'styles/placeholders';
@import 'styles/mixins';

.wrapper {
  position: relative;
  min-height: 100vh;
  position: relative;
  padding-top: $header-height * 2;
  display: flex;
  flex-direction: column;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: inset 0 160px 380px 0 rgba($color-dark, 0.5);
  padding-bottom: 100px;

  @include below($breakpoint-medium) {
    min-height: calc(100vh - 100px);
  }

  &::after {
    content: '';
    position: absolute;
    bottom: -4px;
    height: 100px;
    width: 100%;
    background-image: url('/images/paper.png');
    background-position: bottom center;
    background-size: 100%;
    background-repeat: no-repeat;
  }

  .button {
    color: $color-light;

    path {
      fill: $color-light;
    }
  }
}

.container {
  @extend %container;
  align-items: center;
  display: flex;
  flex: 1;
}

.title {
  margin: 60px 0;
}
